.wrap {
    display: grid;
    justify-items: center;
    background-color: #F5F7F8;
    max-width: 100%;
    font-family: "Oxygen";
    .banner {
        display: grid;
        grid-template-columns: 60% 1fr;
        max-width: 85%;
        min-height: 100vh;
        padding-top: 100px;
        box-sizing: border-box;
        .banner-left {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .banner-right {
            text-align: center;
            padding-top: 50px;
            .btn-wrap {
                align-content: center;
                .btn {
                    display: inline-block;
                    width: 40%;
                    padding: 0 20px;
                    a {
                        display: inline-block;
                        width: 100%;
                        text-decoration: none;
                        border: none;
                        color: #fff;
                        padding: 12px;
                        border-radius: 25px;
                        box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.2);
                        transition: all 0.3s;
                    }
                    &.download-btn {
                        a {
                            background-color: #0099d8;
                            &:hover {
                                box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.4);
                                background-color: darken($color: #0099d8, $amount: 5%);
                            }
                        }
                    }
                    &.demo-btn {
                        a {
                            background-color: #383544;
                            &:hover {
                                box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.4);
                                background-color: darken($color: #383544, $amount: 5%);
                            }
                        }
                    }
                }
            }
        }
        .description {
            grid-column: 1 / -1;
            text-align: center;
            font-size: 1.5rem;
            padding: 0 50px;
            .notice {
                font-size: 12px;
            }
        }
    }

    .feature-section {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 300px));
        justify-content: center;
        grid-gap: 25px;
        // width: 100%;
        justify-self: stretch;
        padding: 80px 0;
        background-color: #f0fbff;
        h2 {
            font-size: 2rem;
            margin: 0 0 40px;
            text-align: center;
            grid-column: 1 / -1;
            color: #383544;
        }
        .feature {
            background-color: rgba(255, 255, 255, 0.4);
            // border: 1px solid #fff;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 50px;
            box-shadow: 0 0 15px 0.5px rgba(56, 53, 68, 0.1);
            transition: box-shadow 0.3s;
            position: relative;
            i {
                position: absolute;
                width: 42px;
                height: 42px;
                top: -35px;
                left: 0;
                right: 0;
                margin: 0 auto;
                border-radius: 50%;
                box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.2);
                padding: 8px;
                color: #0099d8;
                background-color: #fff;
                font-size: 2.5rem;
            }
        }
        .get-involved {
            grid-column: 1 / -1;
            text-align: center;
            a {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                background-color: #383544;
                padding: 15px 30px;
                border-radius: 25px;
                margin: 20px 0;
                box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
                transition: all 0.3s;
                &:hover {
                    box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.8);
                    background-color: darken($color: #383544, $amount: 5%);
                }
                i {
                    vertical-align: middle;
                }               
            }
        }
    }

    .cta {
        text-align: center;
        .cta-btn {
            padding: 150px 0;
            p {
                font-size: 2.5rem;
                margin: 0;
            }
            a {
                display: inline-block;
                font-size: 1.5rem;
                text-decoration: none;
                color: #fff;
                background-color: #0099d8;
                padding: 20px 80px;
                border-radius: 45px;
                margin: 50px 0;
                box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
                transition: all 0.3s;
                &:hover {
                    box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.6);
                    background-color: darken($color: #0099d8, $amount: 5%);
                }
            }
            .warning {
                font-size: 14px;
            }
        }
        .credit {
            p {
                a {
                    text-decoration: none;
                    color: #0099d8;
                }
                i {
                    color: #e80d2e;
                    animation: heartbeat 3s infinite;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media (max-width: 1230px) {
    .wrap {
        .banner {
            max-width: 100%;
        }
    }
}

@media (max-width: 1040px) {
    .wrap {
        .banner {
            padding-top: 20px;
            .banner-left, .banner-right {
                grid-column: span 2;
            }
            .banner-right {
                padding-top: 10px;
                .btn {
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
        .feature-section {
            grid-template-columns: repeat(4, 150px);
            .feature {
                grid-column: span 2;
            }
            .get-involved {
                grid-column: span 4;
            }
        }
    }
}

@media (max-width: 742px) {
    .wrap {
        .banner {
            padding-top: 10px;
            .description {
                font-size: 1.2rem;
                padding: 0 20px;
            }
        }
        .feature-section {
            grid-template-columns: repeat(2, 200px);
            // grid-auto-columns: 400px;
            .get-involved {
                grid-column: span 2;
            }
        }
        .cta {
            .cta-btn {
                padding: 80px 0;
                p {
                    font-size: 2em;
                }
                a {
                    padding: 15px 30px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 488px) {
    .wrap {
        .banner {
            .banner-right {
                .btn-wrap {
                    .btn {
                        width: 35%;
                    }
                }
            }
        }
        .feature-section {
            grid-template-columns: repeat(2, 140px);
            // grid-auto-columns: 400px;
            .get-involved {
                grid-column: span 2;
            }
        }
    }
}


/*Beating heart animation keyframe*/
@keyframes heartbeat {
	0% {
		transform: scale(1.0);
	}
	5% {
		transform: scale(1.3);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1.5);
	}
	30% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.0);
	}
}